/* 폰트 */
@font-face {
    font-family: 'YPairing';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-4@1.1/YPairingFont.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'YPairing';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-4@1.1/YPairingFont-Bd.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/* Tailwind CSS */
@import "tailwindcss";

/* Theme */
@theme {
  /* 폰트 */
  --font-main: "Noto Sans KR", sans-serif;
  --font-hero: "YPairing", sans-serif;
  --font-title: "Saira Extra Condensed", sans-serif;

  /* 컬러 - 폰트 */
  --color-main-black: #343A40;
  --color-main-brown: #6C5D53;
  --color-edu-title: #702AC8;
  --color-edu-period: #BD5D38;
  --color-edu-result: #0277BD;
  --color-profile-text-hover: #88593A;
  --color-project-empty: #9b9288;
  --color-projectfilter-title: #4F4337;
  --color-projectfilter-subtitle: #6B5B4A;
  --color-projectfilter-button-text: #6B5B4A;
  --color-projectcard-type: #8A7D6F;
  --color-projectcard-summary: #5D5953;
  --color-projectcard-keypoints: #655D54;
  --color-projectcard-chevronright: #C4B8AA;
  --color-projectcard-chevronright-hover: #6F6257;
  

  /* 컬러 - 배경, 아이콘 */
  --color-home-bg: #F7F2EB;
  --color-icon-mail-hover-bg: #1FBAFF;
  --color-icon-call-hover-bg: #57D957;
  --color-icon-github-hover: #181717;
  --color-icon-github-hover-bg: #F3F3F3;
  --color-icon-kakao-hover: #391B1B;
  --color-icon-kakao-hover-bg: #FAE300;
  --color-projectfilter-bg: #DCD7D0;
  --color-projectfilter-button-bg: #F2EBE1;
  --color-projectfilter-button-accent: #8A7257;
  --color-projectcard-keypoints-bg: #F7F4EF;

  /* 컬러 - 선 */
  --color-projectfilter-border: #D2C2AF;
  --color-projectfilter-button-border: #CDBCA8;
  --color-projectcard-border: #E8E5DF;
  --color-projectcard-keypoints-border: #ECE6DD;
}

body {
  font-family: var(--font-main);
  color: var(--color-main-black);
}